<a href="https://colab.research.google.com/github/Vivek-1116/SDAE-and-VAE-for-Cancer-Classification-through-Multi-omics-Feature-Extraction/blob/main/DATA_PRE_PROCESSING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MULTI-OMICS DATA PRE-PROCESSING
Dataset for this project is made up of Multi-Omics Cancer Benchmark TCGA Pre-processed data.

Data Source : http://acgt.cs.tau.ac.il/multi_omic_benchmark/download.html

Data Description : Lung Squamous Cell Carcinoma (LUSC) Data

Omics Involved : Gene expression, DNA methylation & miRNA expression

##RAW DATA

IMPORT LIBRARIES

In [ ]:
import numpy as np #Fundamental package for scientific computing
import pandas as pd #For data manipulation and analysis
import matplotlib.pyplot as plt #2D plotting library
import seaborn as sns #Python data visualization library based on matplotlib
import warnings #Typically issued in situations where it is useful to alert the user of some condition in a program
from collections import Counter #Supports iterations
warnings.filterwarnings('ignore') #Ignores all warnings

MOUNT DRIVE TO GOOGLE COLAB & SET DATA PATH

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive/')
data_path = '/content/gdrive/My Drive/PSM2 VIVEK/LUSC Dataset/Raw/' #Change this path accordingly

Drive already mounted at /content/gdrive/; to attempt to forcibly remount, call drive.mount("/content/gdrive/", force_remount=True).

IMPORT DATASET (3 DIFFERENT OMICS & 1 CLINICAL DATA)

In [ ]:
print("RAW MULTIOMICS DATASET") 

dataframe0 = pd.read_csv(data_path + "lung.csv",sep=',') #Reading clinical dataset 
print("CLINICAL DATA :", dataframe0.shape)

dataframe1 = pd.read_csv(data_path + "exp.csv",sep=',') #Reading Gene Expression dataset
print("GENE EXPRESSION :", dataframe1.shape)

dataframe2 = pd.read_csv(data_path + "mirna.csv",sep=',') #Reading miRNA dataset
print("MIRNA :", dataframe2.shape)

dataframe3 = pd.read_csv(data_path + "methy.csv",sep=',') #Reading DNA Methylation dataset 
print("DNA METHYLATION :", dataframe3.shape)

RAW MULTIOMICS DATASET
CLINICAL DATA : (626, 164)
GENE EXPRESSION : (20531, 553)
MIRNA : (1046, 388)
DNA METHYLATION : (5000, 413)

DATA TRANSPOSITION

In [ ]:
print("TRANSPOSED DATA")

dat1 = np.transpose(dataframe1)
print ("GENE EXPRESSION : ", dat1.shape)

dat2 = np.transpose(dataframe2)
print ("MIRNA : ", dat2.shape)

dat3 = np.transpose(dataframe3)
print ("DNA METHYLATION : ", dat3.shape)

TRANSPOSED DATA
GENE EXPRESSION :  (553, 20531)
MIRNA :  (388, 1046)
DNA METHYLATION :  (413, 5000)

REMOVAL OF DUPLICATION DATA

In [ ]:
print("REMOVING DATA DUPLICATION")

d0 = dataframe0.drop_duplicates()
print ("SURVIVAL : ", d0.shape)

d1 = dat1.drop_duplicates() 
print ("GENE EXPRESSION : ", d1.shape)

d2 = dat2.drop_duplicates() 
print ("MIRNA : ", d2.shape)

d3 = dat3.drop_duplicates() 
print ("DNA METHYLATION : ", d3.shape)

REMOVING DATA DUPLICATION
SURVIVAL :  (626, 164)
GENE EXPRESSION :  (553, 20531)
MIRNA :  (388, 1046)
DNA METHYLATION :  (413, 5000)

##EXPLORATORY DATA ANALYSIS (EDA)

CHECKING FOR NON-NULL OBSERVATIONS & TOTAL NUMBER OF ENTRIES

In [ ]:
print("Gene Expression:")
d1.info()
print("MiRNA:")
d2.info()
print("DNA Methylation:")
d3.info()

Gene Expression:
<class 'pandas.core.frame.DataFrame'>
Index: 553 entries, PatientID to TCGA.XC.AA0X.01
Columns: 20531 entries, 0 to 20530
dtypes: object(20531)
memory usage: 86.6+ MB
MiRNA:
<class 'pandas.core.frame.DataFrame'>
Index: 388 entries, PatientID to TCGA.XC.AA0X.01
Columns: 1046 entries, 0 to 1045
dtypes: object(1046)
memory usage: 3.1+ MB
DNA Methylation:
<class 'pandas.core.frame.DataFrame'>
Index: 413 entries, PatientID to TCGA.XC.AA0X.01
Columns: 5000 entries, 0 to 4999
dtypes: object(5000)
memory usage: 15.8+ MB

SUMMARY STATISTICS OF ALL OBSERVED FEATURES & LABELS

In [ ]:
print("Gene Expression:")
d1.describe()

Gene Expression:

        0      1      2         3      ...      20527     20528     20529  20530
count   553.0  553.0  553.0  553.0000  ...   553.0000  553.0000  553.0000  553.0
unique   20.0  539.0  548.0  553.0000  ...   553.0000  553.0000  553.0000  193.0
top       0.0    0.0    0.0  112.3263  ...  1122.3707  673.9358    6.1751    0.0
freq    534.0   15.0    5.0    1.0000  ...     1.0000    1.0000    1.0000  358.0

[4 rows x 20531 columns]

In [ ]:
print("MiRNA:")
d2.describe()

MiRNA:

               0            1     ...        1044         1045
count    388.000000   388.000000  ...  388.000000    388.00000
unique   388.000000   388.000000  ...  388.000000    388.00000
top     7679.403313  6379.716329  ...  510.746011  32767.19806
freq       1.000000     1.000000  ...    1.000000      1.00000

[4 rows x 1046 columns]

In [ ]:
print("DNA Methylation:")
d3.describe()

DNA Methylation:

              0           1           2     ...        4997        4998        4999
count   413.000000  413.000000  413.000000  ...  413.000000  413.000000  413.000000
unique  413.000000  413.000000  409.000000  ...  413.000000  413.000000  413.000000
top       0.055092    0.443131    0.947105  ...    0.054007    0.030229    0.358823
freq      1.000000    1.000000    5.000000  ...    1.000000    1.000000    1.000000

[4 rows x 5000 columns]

CHECKING FOR MISSING VALUES

In [ ]:
#Displays total NaNs found in each column
print("CHECKING MISSING VALUES IN GENE EXPRESSION")
d1.isnull().sum()

CHECKING MISSING VALUES IN GENE EXPRESSION

0        0
1        0
2        0
3        0
4        0
        ..
20526    0
20527    0
20528    0
20529    0
20530    0
Length: 20531, dtype: int64

In [ ]:
#Displays total NaNs found in each column
print("CHECKING MISSING VALUES IN MIRNA")
d2.isnull().sum()

CHECKING MISSING VALUES IN MIRNA

0       0
1       0
2       0
3       0
4       0
       ..
1041    0
1042    0
1043    0
1044    0
1045    0
Length: 1046, dtype: int64

In [ ]:
#Displays total NaNs found in each column
print("CHECKING MISSING VALUES IN DNA METHYLATION")
d3.isnull().sum()

CHECKING MISSING VALUES IN DNA METHYLATION

0       0
1       0
2       0
3       0
4       0
       ..
4995    0
4996    0
4997    0
4998    0
4999    0
Length: 5000, dtype: int64

CHECKING FOR MISSING VALUES IN FORM OF ZEROS

In [ ]:
zeros_genes = (d1 == 0).sum() #Checking for Zeros in Gene Expression
print("Printing Columns with Missing Values:")
zeros_genes

Printing Columns with Missing Values:

0        534
1         15
2          5
3          0
4          0
        ...
20526      0
20527      0
20528      0
20529      0
20530    358
Length: 20531, dtype: int64

In [ ]:
zeros_mirna = (d2 == 0).sum() #Checking for Zeros in MIRNA
print("Printing Columns with Missing Values:")
zeros_mirna

Printing Columns with Missing Values:

0        0
1        0
2        0
3        0
4        0
        ..
1041    10
1042     0
1043     0
1044     0
1045     0
Length: 1046, dtype: int64

In [ ]:
zeros_methy = (d3 == 0).sum() #Checking for Zeros in DNA Methylation
print("Printing Columns with Missing Values:")
zeros_methy

Printing Columns with Missing Values:

0       0
1       0
2       0
3       0
4       0
       ..
4995    0
4996    0
4997    0
4998    0
4999    0
Length: 5000, dtype: int64

REPLACING ZEROS WITH NaNs

In [ ]:
d1_new = d1.replace(0, np.nan) 
d2_new = d2.replace(0, np.nan) 
d3_new = d3.replace(0, np.nan)

DROPPING COLUMNS CONTAINING NULL VALUES

In [ ]:
#Dropping columns containing NaN values
GENE = d1_new.dropna(axis=1,how='any',thresh=None,subset=None, inplace=False)
MIRNA = d2_new.dropna(axis=1,how='any',thresh=None,subset=None, inplace=False)
METHY = d3_new.dropna(axis=1,how='any',thresh=None,subset=None, inplace=False)

OMICS DATA WITHOUT NULL VALUES

In [ ]:
GENE.info()

<class 'pandas.core.frame.DataFrame'>
Index: 553 entries, PatientID to TCGA.XC.AA0X.01
Columns: 13434 entries, 3 to 20529
dtypes: object(13434)
memory usage: 56.7+ MB

In [ ]:
MIRNA.info()

<class 'pandas.core.frame.DataFrame'>
Index: 388 entries, PatientID to TCGA.XC.AA0X.01
Columns: 230 entries, 0 to 1045
dtypes: object(230)
memory usage: 700.2+ KB

In [ ]:
METHY.info()

<class 'pandas.core.frame.DataFrame'>
Index: 413 entries, PatientID to TCGA.XC.AA0X.01
Columns: 5000 entries, 0 to 4999
dtypes: object(5000)
memory usage: 15.8+ MB

DROPPING ALL COLUMNS EXCEPT SAMPLE ID & TYPE IN CLINICAL DATA

In [ ]:
dataframe0.drop(dataframe0.columns.difference(['sampleID','sample_type']), 1, inplace=True) #Dropping all columns except Sample_ID & Sample type

CLINICAL DATA SEGMENTATION

In [ ]:
dataframe0

            sampleID          sample_type
0    TCGA-18-3406-01        Primary Tumor
1    TCGA-18-3406-11  Solid Tissue Normal
2    TCGA-18-3407-01        Primary Tumor
3    TCGA-18-3407-11  Solid Tissue Normal
4    TCGA-18-3408-01        Primary Tumor
..               ...                  ...
621  TCGA-O2-A52V-01        Primary Tumor
622  TCGA-O2-A52W-01  Solid Tissue Normal
623  TCGA-O2-A5IB-01  Solid Tissue Normal
624  TCGA-O2-A5IC-01  Solid Tissue Normal
625  TCGA-XC-AA0X-01        Primary Tumor

[626 rows x 2 columns]

REPLACING SAMPLE TYPE ID WITH VALUES

In [ ]:
d4=dataframe0.replace(to_replace=["Primary Tumor","Solid Tissue Normal"],value=["1","0"]) #Replacing "-" in patient ID into "." to sync IDs with omics

RENAMING COLUMN HEADS

In [ ]:
Sample=d4.rename(columns={"sampleID":"PatientID","sample_type":"Class"})

In [ ]:
Sample['PatientID']=Sample['PatientID'].str.replace('\-','.')

FINALIZED CLINICAL DATA

In [ ]:
Sample

           PatientID Class
0    TCGA.18.3406.01     1
1    TCGA.18.3406.11     0
2    TCGA.18.3407.01     1
3    TCGA.18.3407.11     0
4    TCGA.18.3408.01     1
..               ...   ...
621  TCGA.O2.A52V.01     1
622  TCGA.O2.A52W.01     0
623  TCGA.O2.A5IB.01     0
624  TCGA.O2.A5IC.01     0
625  TCGA.XC.AA0X.01     1

[626 rows x 2 columns]

STORING PROCESSED MULTIOMICS DATA

In [ ]:
Processed_Gene=GENE.to_csv(r'/content/gdrive/My Drive/PSM2 VIVEK/LUSC Dataset/processed_Gene_latest.csv')
Processed_MiRNA=MIRNA.to_csv(r'/content/gdrive/My Drive/PSM2 VIVEK/LUSC Dataset/processed_MiRNA_latest.csv')
Processed_Methy=METHY.to_csv(r'/content/gdrive/My Drive/PSM2 VIVEK/LUSC Dataset/processed_Methy_latest.csv')

##MULTI-OMICS DATA INTEGRATION

IMPORT PRE-PROCESSED MULTIOMICS DATA FOR INTEGRATION

In [ ]:
print("----PRE-PROCESSED----") 

dframe1 = pd.read_csv('/content/gdrive/My Drive/PSM2 VIVEK/LUSC Dataset/' + "processed_Gene_latest.csv",skiprows=1)
print("GENE EXPRESSION :", dframe1.shape)

dframe2 = pd.read_csv('/content/gdrive/My Drive/PSM2 VIVEK/LUSC Dataset/' + "processed_MiRNA_latest.csv",skiprows=1)
print("MIRNA :", dframe2.shape)

dframe3 = pd.read_csv('/content/gdrive/My Drive/PSM2 VIVEK/LUSC Dataset/' + "processed_Methy_latest.csv",skiprows=1)
print("DNA METHYLATION :", dframe3.shape)

----PRE-PROCESSED----
GENE EXPRESSION : (552, 13435)
MIRNA : (387, 231)
DNA METHYLATION : (412, 5001)

SETTING PATIENT ID AS DATA INDEX

In [ ]:
Gene = dframe1.set_index('PatientID')
MiRNA = dframe2.set_index('PatientID')
Methy = dframe3.set_index('PatientID')
Clinical = Sample.set_index('PatientID')

INTEGRATION OF MULTIOMICS

In [ ]:
integrate = [Gene,MiRNA,Methy,Clinical] #Integrating all 3 omics with class embedded
Multiomics = pd.concat(integrate, axis=1, join='inner')

MULTIOMICS DATASET

In [ ]:
Multiomics

                  ?|10357    ?|10431  ?|155060  ...  rs966367  rs9839873  Class
PatientID                                       ...
TCGA.18.5592.01  236.8295  1141.0830   88.0285  ...  0.026454   0.045728      1
TCGA.18.5595.01  245.4566   999.4328   68.3494  ...  0.510593   0.933625      1
TCGA.21.5782.01  308.5506   923.5955  146.0674  ...  0.466552   0.930599      1
TCGA.21.5783.01  192.7190   526.9117  150.0900  ...  0.529334   0.936669      1
TCGA.21.5784.01  161.6057  1196.5056   51.7527  ...  0.031209   0.955941      1
...                   ...        ...       ...  ...       ...        ...    ...
TCGA.O2.A52S.01  176.7177  1188.3278  226.8212  ...  0.367595   0.931168      1
TCGA.O2.A52V.01  188.7215  1248.0303  147.4945  ...  0.431195   0.107549      1
TCGA.O2.A52W.01  260.3332   789.3606  854.3794  ...  0.460235   0.931966      0
TCGA.O2.A5IB.01  160.1624   460.8626  569.2226  ...  0.501818   0.902703      0
TCGA.XC.AA0X.01   76.6488   805.9507  311.6273  ...  0.887421   0.734846      1

[344 rows x 18665 columns]

SAVE FINALISED DATASET

In [ ]:
#Save Finalised Lung Dataset
Complete_Data = Multiomics.to_csv(r'/content/gdrive/My Drive/PSM2 VIVEK/LUSC Dataset/Complete_MultiOmics.csv')